.title1{
    font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 14.52px;
text-align: left;
color: #04C9F4;
text-align: center;
}
#fundo{
    text-align: center;
    background: #D9D9D9;
display:grid ;
align-items: center;
justify-content: center;
grid-template-areas: "logo logo logo logo"
"usuario usuario usuario usuario"
"senha senha senha senha "
"entrar entrar entrar entrar";
grid-template-columns: auto auto auto;
grid-template-rows: 32vh auto auto;
gap: 10px;
}
.logo{
padding: 45px;
padding-right: 45px;
    width: 153px;
height: 115px;
display: grid;
align-items: center;
  background-color: #fff;
  grid-area: logo;
}
.USUÁRIO{
   display: grid;
   align-items:center ;
   justify-content: start;
height: 46px;
    background-color: #fff;
    box-sizing: border-box;
    grid-area: usuario
    
}
.senha{
    display: grid;
    align-items:center ;
   justify-content: start;
    height: 46px;
    background-color: #fff;
  grid-area: senha;
}
button{
    width: 160px;
    height: 44px;
    top: 451px;
    left: 332px;
  text-align: center;
 padding-left: 10px;
    background-color: #04C9F4
    ;
    grid-area: entrar;
}
.botao a {
text-decoration: none ;
color: #fff;
}
.campo {
    margin-bottom: 10px;
    display: flex;
}


input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}
